{% extends 'base.html' %}

{% block title %}
    Find by name
{% endblock %}

{% block content %}

    <div class="my-4">
        <form id="find_name" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Name</label>
                <input type="text" class="form-control" id="id_name" name="createdby">
            </div>
            <button type="submit" class="btn btn-success" id="submitBtn">Find</button>
        </form>
    </div>

{% endblock %}
